@model IEnumerable<EGMovies.BOL.Movie>

@{
    ViewBag.Title = "Search By Movie Genre";
}

<h2>ByMovieGenre</h2>
<p>
    @using (Html.BeginForm("ByMovieGenre", "Home", FormMethod.Get))
    {
        <div>
            <table>
                <tr>
                    <td><label>Search By Movie Genre: </label></td>
                    <td>@Html.DropDownList("movieGenre", "All")</td>
                    <td><input type="submit" value="Search" /></td>

                </tr>
            </table>
        </div>
    }

    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.Id})

        </td>
    </tr>
}

</table>
